@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}
*:focus {
  outline: none;
  box-shadow: none;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  font-family: "Barlow", sans-serif;
}

svg {
  cursor: pointer;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border-radius: 0.25em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}

.iconSize-32 {
  width: 2em;
  height: 2em;
}

.iconSize-24 {
  width: 1.5em;
  height: 1.5em;
}

.iconSize-20 {
  width: 1.25em;
  height: 1.25em;
}

.iconSize-16 {
  width: 1em;
  height: 1em;
}

.PriFilledBtn {
  color: #f9dec9;
  background-color: #030027;
}
.PriFilledBtn:hover {
  background-color: rgba(3, 0, 39, 0.92);
}

.PriOutlinedBtn {
  color: #030027;
  background-color: #ffffff;
  border: 0.125em solid #030027;
}
.PriOutlinedBtn:hover {
  background-color: #fbfbff;
}